.promo {
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url('../img/bg.jpg') center (center/cover) no-repeat;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;
    }
    &__header {
        font-weight: 700;
        font-size: 42px;
        text-transform: uppercase;      
        color: #FFFFFF;
        line-height: 42px;
    }
    &__subheader {
        margin-top: 17px;
        line-height: 24px;
        font-weight: 500;
        font-size: 24px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &__icons {
        margin-top: 65px;
        width: 425px;
        display: flex;
        justify-content: space-between;
    }
    &__icon {
        width: 108px;
        text-align: center;
        font-size: 14px;
        color: #FFFFFF;
        font-weight:400;
            img {
                display: block;
                margin: 0 auto;
                margin-bottom: 20px;
            }
    }
    &__link {
        color: #FFFFFF;
        font-weight: 500;
        font-size: 16px ;
        margin-top: 18px;
        a {
            color: #FFFFFF;
            text-transform: uppercase;
            text-decoration: underline;
        }
    }
    
}

